In [1]:
#Tables

import pandas as pd
with pd.ExcelFile("IEC60228.xlsx") as xls:
    _table1 = pd.read_excel(xls, "table1", skiprows=6, dtype='string', header=None, names=[1,2,3,4])
    _table2 = pd.read_excel(xls, "table2", skiprows=6, dtype='string', header=None, names=[1,2,3,4,5,6,7,8,9,10])
    _table3 = pd.read_excel(xls, "table3", skiprows=5, dtype='string', header=None, names=[1,2,3,4])
    _table4 = pd.read_excel(xls, "table4", skiprows=5, dtype='string', header=None, names=[1,2,3,4])
    _table5 = pd.read_excel(xls, "table5", skiprows=3, dtype='string', header=None, names=[1,2])
    
def table1(csa="none", conductor="none", type="none"):
    try:
        if {"Cu":"Cu", "Al":"Al"}[conductor]=="Cu":
            try:
                _column={"plain":2, "metal-coat":3, "none":"nan"}[type]
            except:
                raise
        else:
            _column=4
    except:
        raise 
    _param_csa=dict(zip(_table1.iloc[:][1],range(len(_table1.iloc[:][1]))))
    try:
        _row=_param_csa[csa]
    except:
        if csa=="none":
            _row="nan"
        else:
            raise 
    if _row=="nan" or _column=="nan":
        return("nan")
    return(float(_table1.iloc[_row][_column]))

def table2(csa="none", conductor="none", type="none", arrangement="none"):
    try:
        if {"Cu":"Cu", "Al":"Al"}[conductor]=="Cu":
            try:
                _res_column={"plain":8, "metal-coat":9, "none":"nan"}[type]
            except:
                raise
            try:
                _wire_column={"compact":2, "non-compact":4, "shaped":6, "none":"nan"}[arrangement]
            except:
                raise
        else:
            _res_column=10
            try:
                _wire_column={"compact":3, "non-compact":5, "shaped":7, "none":"nan"}[arrangement]
            except:
                raise
    except:
        raise 
    _param_csa=dict(zip(_table2.iloc[:][1],range(len(_table2.iloc[:][1]))))
    try:
        _row=_param_csa[csa]
    except:
        if csa=="none":
            _row="nan"
        else:
            raise 
    if _res_column=="nan" and _wire_column=="nan" or _row=="nan":
        return("nan","nan")
    if _res_column=="nan":
        return(_table2.iloc[_row][_wire_column],"nan")    
    if _wire_column=="nan":
        return("nan",_table2.iloc[_row][_res_column])   
    return(float(_table2.iloc[_row][_wire_column]),float(_table2.iloc[_row][_res_column]))

def table3(csa="none", type="none"):
    try:
        _res_column={"plain":3, "metal-coat":4, "none":"nan"}[type]
        _wire_column=2
    except:
        raise
    _param_csa=dict(zip(_table3.iloc[:][1],range(len(_table3.iloc[:][1]))))
    try:
        _row=_param_csa[csa]
    except:
        if csa=="none":
            _row="nan"
        else:
            raise 
    if _row=="nan":
        return("nan","nan")
    if _res_column=="nan":
        return(_table3.iloc[_row][_wire_column],"nan")    
    return(float(_table3.iloc[_row][_wire_column]),float(_table3.iloc[_row][_res_column]))

def table4(csa=0, type="none"):
    try:
        _res_column={"plain":3, "metal-coat":4, "none":"nan"}[type]
        _wire_column=2
    except:
        raise
    _param_csa=dict(zip(_table4.iloc[:][1],range(len(_table4.iloc[:][1]))))
    try:
        _row=_param_csa[csa]
    except:
        if csa=="none":
            _row="nan"
        else:
            raise 
    if _row=="nan":
        return("nan","nan")
    if _res_column=="nan":
        return(_table4.iloc[_row][_wire_column],"nan")    
    return(float(_table4.iloc[_row][_wire_column]),float(_table4.iloc[_row][_res_column]))

def table5(temp="none"):
    _param_temp=dict(zip(_table5.iloc[:][1],range(len(_table5.iloc[:][1]))))
    try:
        _row=_param_temp[temp]
    except:
        if temp=="none":
            _row="nan"
        else:
            raise 
    if _row=="nan":
        return("nan")
    return(float(_table5.iloc[_row][2]))
    
print(table1(csa='25',conductor="Cu", type="plain"))
print(table2(csa='240',conductor="Cu", type="plain", arrangement="compact"))
print(table3(csa='240',type="plain"))
print(table4(csa='240',type="plain")[0])
print(table5('25'))

0.727
(61.0, 0.0754)
(0.51, 0.0801)
0.41
0.98

0.125

In [1]:
import pandas as pd
import IEC60287 as iec
iec.table1(csa=25,conductor="aluminium")

1.2

In [10]:
t = pd.DataFrame({'a': range(0, 10), 'b': range(10, 20)})
print(t)

   a   b
0  0  10
1  1  11
2  2  12
3  3  13
4  4  14
5  5  15
6  6  16
7  7  17
8  8  18
9  9  19

In [9]:
#Convert CSV to JSON
import pandas as pd
file_to_convert="IEC60288.table1"
data = pd.read_csv(file_to_convert+".csv")
df = pd.DataFrame(data)
print (df)
df.to_json(file_to_convert+".json")

    Nominal Cross Section Area  copper.circular.plain  \
0                         0.50                 36.000
1                         0.75                 24.500
2                         1.00                 18.100
3                         1.50                 12.100
4                         2.50                  7.410
5                         4.00                  4.610
6                         6.00                  3.080
7                        10.00                  1.830
8                        16.00                  1.150
9                        25.00                  0.727
10                       35.00                  0.524
11                       50.00                  0.387
12                       70.00                  0.268
13                       95.00                  0.193
14                      120.00                  0.153
15                      150.00                  0.124
16                      185.00                    NaN
17                      240.00                    NaN
18                      300.00                    NaN

    copp/er.circular.metal-coated  aluminium
0                           36.70        NaN
1                           24.80        NaN
2                           18.20        NaN
3                           12.20     18.100
4                            7.56     12.100
5                            4.70      7.410
6                            3.11      4.610
7                            1.84      3.080
8                            1.16      1.910
9                             NaN      1.200
10                            NaN      0.868
11                            NaN      0.641
12                            NaN      0.443
13                            NaN      0.320
14                            NaN      0.253
15                            NaN      0.206
16                            NaN      0.164
17                            NaN      0.125
18                            NaN      0.100

In [14]:
a="1.720000e-08"
try:
    b=float(a)
except: 
    pass
print(b)
b=b+1.34
print(b)

1.72e-08
1.3400000172000002

In [ ]:
df = pd.DataFrame([[38.0, 2.0, 18.0, 22.0, 21, np.nan],[19, 439, 6, 452, 226,232]],
                  index=pd.Index(['Tumour (Positive)', 'Non-Tumour (Negative)'], name='Actual Label:'),
                  columns=pd.MultiIndex.from_product([['Decision Tree', 'Regression', 'Random'],['Tumour', 'Non-Tumour']], names=['Model:', 'Predicted:']))

In [ ]:
#Convert CSV to JSON
import pandas as pd
file_to_convert="IEC60288.table1"
data = pd.read_csv(file_to_convert+".csv")
df = pd.DataFrame(data)
print (df)
df.to_json(file_to_convert+".json")

In [68]:
#print(t.columns[1])
#print(t.iterrows())
print(_table1.iloc(1)[0])

0       0.50
1       0.75
2       1.00
3       1.50
4       2.50
5       4.00
6       6.00
7      10.00
8      16.00
9      25.00
10     35.00
11     50.00
12     70.00
13     95.00
14    120.00
15    150.00
16    185.00
17    240.00
18    300.00
Name: Nominal Cross Section Area, dtype: float64

In [36]:
import numpy as np
arrays = [
    np.array(["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"]),
    np.array(["one", "two", "one", "two", "one", "two", "one", "two"]),
]
s = pd.Series(np.random.randn(8), index=arrays)
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])

df = pd.DataFrame(np.random.randn(3, 8), index=["A", "B", "C"], columns=index)
pd.DataFrame(np.random.randn(6, 6), index=index[:6], columns=index[:6])
print (df)
df.to_excel("junk.xls", sheet_name="Sheet1")
_table1=pd.read_excel ("IEC60228.xlsx","table1",header=[0,1])
print (_table1)

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A       0.335109  0.143531  0.059944 -0.502328 -1.486713  0.348504  0.448762
B      -2.368211 -2.397001  0.035884 -0.549483 -0.551645  1.660095 -0.894345
C      -0.001353  1.464487  1.192813  0.831354 -0.785317 -0.116762 -0.316818

first
second       two
A       1.686272
B      -0.351080
C      -1.517098
   Nominal cross-sectional area Circular copper conductors               \
             Unnamed: 0_level_1                      Plain Metal-coated
0                          0.50                         36         36.7
1                          0.75                       24.5         24.8
2                          1.00                       18.1         18.2
3                          1.50                       12.1         12.2
4                          2.50                       7.41         7.56
5                          4.00                       4.61          4.7
6                          6.00                       3.08         3.11
7                         10.00                       1.83         1.84
8                         16.00                       1.15         1.16
9                         25.00                      0.727            -
10                        35.00                      0.524            -
11                        50.00                      0.387            -
12                        70.00                      0.268            -
13                        95.00                      0.193            -
14                       120.00                      0.153            -
15                       150.00                      0.124            -
16                       185.00                          -            -
17                       240.00                          -            -
18                       300.00                          -            -

   Aluminium conductors circular or shaped, plain, metal-coated or metal-clad
                                                           Unnamed: 3_level_1
0                                                   -
1                                                   -
2                                                   -
3                                                18.1
4                                                12.1
5                                                7.41
6                                                4.61
7                                                3.08
8                                                1.91
9                                                 1.2
10                                              0.868
11                                              0.641
12                                              0.443
13                                               0.32
14                                              0.253
15                                              0.206
16                                              0.164
17                                              0.125
18                                                0.1

In [51]:
df.iloc[2]

first  second
bar    one      -0.001353
       two       1.464487
baz    one       1.192813
       two       0.831354
foo    one      -0.785317
       two      -0.116762
qux    one      -0.316818
       two      -1.517098
Name: C, dtype: float64

In [52]:
class Person:
 
  def __init__(self,name,age,gender):
    self.name = name
    self.age = age
    self.gender = gender
 
  def person_details(self):
    print(f'Person Name: {self.name} \nPerson Age: {self.age} \nPerson Gender: {self.gender}\n')
 
person1 = Person('Andrew',34, 'Male')
person2 = Person('Liam', 21, 'Male')
 
person1.person_details()
person2.person_details()

Person Name: Andrew
Person Age: 34
Person Gender: Male

Person Name: Liam
Person Age: 21
Person Gender: Male

In [221]:
black_tea = {
    'supplier': 'Twinings',
    'name': 'English Breakfast',
    'boxes_in_stock': 12,
    'loose_leaf': True
    }

print(black_tea['loo7se_leaf'])

KeyError: 'loo7se_leaf'

In [199]:
x=range(len(_table1.iloc[:][1]))
print(x)

range(0, 19)

In [202]:
keys=range(5)
print(keys)

range(0, 5)